header{
	background-image:url(back.jpg);
	height: 16vh;
	background-size: cover;
	margin: 0;
	position: relative;
/*	position: sticky;
	z-index: 1;
	top: 0;*/

}

.main-nav{
	float: right;
	list-style: none;
	margin-top: 30px;


}

.main-nav li{
	display: inline-block;
}

.main-nav li a{
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
}

.main-nav li.active a{
	border: 1px solid white;
}

.main-nav li a:hover{
	border: 1px solid white;
	//background-color: orange;
}

.logo img{
	width: 140px;
	height: 100%;
	float: left;
	position: absolute;

}


